root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,svelte,json,yaml,yml}]
indent_style = tab
indent_size = tab

[*.md]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = false

[*.rs]
indent_style = tab
indent_size = tab
max_line_length = 100

[*.{kt,kts}]
indent_style = tab
indent_size = tab
max_line_length = 120
ktlint_code_style = intellij_idea

[*.{toml,gradle}]
indent_style = tab
indent_size = tab

[Makefile]
indent_style = tab
